@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html{
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #ead4aa;
  background-color: #181425;
}
.content{
  background-color: #262b44;
  border-radius: 1pc;
  position: auto;
  margin-left: 15%;
  margin-right: 15%;
  top: 5pc;
  padding: 2pc;
  width: 70%;
}
.header{
  position: auto;
  padding-top: 5pc;
  padding-bottom: 2pc;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  font-size: 20pt;
}
.top-bar{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0c0a13;
  color: #ead4aa;
  font-size: 15pt;
  width: 100%;
  height: 5pc;
  text-align: center;
}
.button{
  border: 0px solid #181425;
  border-radius: 1pc;
  padding: 1px;
  text-align: center;
  background-color: #8b9bb4;
  cursor: pointer;
}
.button:hover{
  background-color: #c0cbdc;
}
a{
  color: inherit;
  text-decoration: none;
}
.main-image{
  display: table;
  margin: 0 auto;
  border: 0px solid #181425;
  border-radius: 1pc;
  margin-bottom: 1pc;
  width: 50%;
}
.app-image{
  border-radius: 0.7pc;
}
.app{
  animation:
    app_leave_hover
    0.25s
    ease-out
    0s
    alternate
    1
    forwards
    running;
  margin: 1%;
  display: inline-block;
  width: 45%;
  border: 0px solid #181425;
  background-color: #3a4466;
  color: #ead4aa;
  text-align: center;
  font-size: 20pt;
  cursor: pointer;
  border-radius: 1pc;
}
.app:hover{
  animation:
    app_hover
    0.25s
    ease-out
    0s
    alternate
    1
    forwards
    running;
}
@keyframes app_hover {
  0% {
    filter: drop-shadow(0px 0px 0px #181425);
  }
  100% {
    filter: drop-shadow(0px 0px 10px #181425);
  }
}
@keyframes app_leave_hover {
  0% {
    filter: drop-shadow(0px 0px 10px #181425);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #181425);
  }
}
